@import url('https://fonts.googleapis.com/css?family=Space+Mono');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');


$family-sans-serif: "Lato", sans-serif;
$family-primary: $family-sans-serif;
$family-secondary: "Space Mono", monospace;

$black: #000F10;
$white: #FCFCFC;
$grey: #EEF0F2;
$cyan: #5CC6FC;
$turquoise: #83E1CF;
$purple-dark: #18002b;
$purple: #5900a0;

$cyan-invert: $white;

$primary: $cyan;
$primary-invert: $cyan-invert;
$link: $black;
$info: $purple-dark;

$body-background-color: $white;
$button-text-color: $white;
// $input-border-color: $primary;

$navbar-height: 4rem;
$navbar-item-img-max-height: 3.5rem;
$navbar-dropdown-arrow: $black;
$navbar-dropdown-item-hover-color: $black;
$navbar-item-hover-color: $primary;

$section-padding: 1.5rem 1.5rem;

img {
    object-fit: cover;
}