<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column has-text-centered">
                <span class="is-size-4">Great Games</span>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <h1> Beautiful slider here </h1>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-2"></div>
            <div class="column is-8 has-text-centered">
                <span class="is-size-4">All games</span>
            </div>
            <div class="column is-2 has-text-right">
                <!-- <span class="is-size-5">All genres</span> -->
            </div>
        </div>

        <div class="columns is-multiline" >
            <% @games.each do |game| %>
            <div class="column is-one-quarter">
                <div class="card">
                    <%= link_to(game) do %>
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <%= image_tag(("https://res.cloudinary.com/moses-nfsg/image/upload/v1549921456/storby/" + game.name + "/1")) %>
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="columns is-mobile is-vcentered">
                                <div class="column is-8">
                                    <span class="title is-5"><%= game.name %></span>
                                </div>
                                <div class="column is-4 has-text-right">
                                    <span><%= game.user.teamname %></span>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</section>

    <!-- <div class="column is-3">
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="https://www.desktopbackground.org/download/1280x960/2015/02/04/897584_grand-theft-auto-v-gta-5-games-wallpapers-16-jpg_1920x1080_h.jpg"
                        alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="columns is-vcentered">
                    <div class="column is-8">
                        <span class="title is-5">GTA V</span>
                    </div>
                    <div class="column is-4 has-text-right">
                        <span>39.99$</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-3">
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="https://desktop.bg/system/images/158830/double/overwatch_game_of_the_year_edition.png"
                        alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="columns is-vcentered">
                    <div class="column is-8">
                        <span class="title is-5">Overwatch</span>
                    </div>
                    <div class="column is-4 has-text-right">
                        <span>29.99$</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-3">
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="http://media.vandal.net/m/43506/metro-exodus-20176121956_1.jpg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="columns is-vcentered">
                    <div class="column is-8">
                        <span class="title is-5">Metro Exodus</span>
                    </div>
                    <div class="column is-4 has-text-right">
                        <span>59.99$</span>
                    </div>
                </div>
            </div>
        </div>
    </div> -->